/* micro styles reset */
*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  font-family: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  color: #DA0;
}
a {
  color: inherit;
  &:hover {
    background-color: #DA0;
    color: #20282a;
  }
}
