<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="css/bundle.css">
</head>

<body>
  <div class="wrapper">
    {{ partial "header" . }}
    <main>
      <pre style="font-size: 2.2vmin">

dP   dP   dP          dP                                       dP
88   88   88          88                                       88
88  .8P  .8P .d8888b. 88 .d8888b. .d8888b. 88d8b.d8b. .d8888b. 88
88  d8'  d8' 88ooood8 88 88'  `"" 88'  `88 88'`88'`88 88ooood8 dP
88.d8P8.d8P  88.  ... 88 88.  ... 88.  .88 88  88  88 88.  ...
8888' Y88'   `88888P' dP `88888P' `88888P' dP  dP  dP `88888P' oo


</pre>
      <p>Hi, I'm Joshua Seigler. I'm a:</p>
      <h2>Web developer</h2>
      <p>I like to make websites. Since 2013 I work at XPO Logistics. Front-end web technology like CSS and SVG comes most easily, but I'm also learning to solve problems with Javascript, JS libraries, and C Sharp. See some of my personal projects on GitHub.</p>
      <h2>Bostonian</h2>
      <p>I've lived in Boston since the end of 2013. Boston has great public transportation, a ton of cool companies, and a ton of dining and entertainment.</p>
      <h2>Cryptocurrency enthusiast</h2>
      <p>After learning about Bitcoin and Dash, I'm certain that they will play a large role in the future. You can send me Bitcoin if you want.</p>
      <h2>Boardgamer</h2>
      <p>I play boardgames at least once a week. You can see my game collection if you like. My favorite games tend towards low-chance high-strategy, with mostly indirect competition and a large problem space.</p>
      <h2>Artist</h2>
      <p>I make ink sketches sometimes, for fun and to improve my skill.</p>
    </main>
    {{ partial "footer" . }}
  </div>
</body>

</html>
