<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="css/bundle.css">
</head>

<body>
  <div class="wrapper">
    {{ partial "header" . }}
    <main>
      <pre style="font-size: 1.7vmin">
                                  ,g▄██▓▓▓▓▓▓▓▓████▄g
                           ,≈g▄▄██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█
                        ▄█▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓╥
                       ▄▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█
                       █▓▓▓▓▓▓▓▓▓█▀▀▀▐┼¡!!┤▐▀▀███▓▓▓▓▓▓▓█g
                       ▓▓▓▓▓█├¡¡!!!!!!!!!!!!!!!!!|▀▓▓▓▓▓▓▓█▄
                       ▓▓▓▓▓|!!!!!!!!!!!!!!!!!!!!!!▀▓▓▓▓▓▓▓▓█▄
                      ▐▓▓▓▓▌!!!!!!!!!!!!!!!!!!!!!!!¡▓▓▓▓▓▓▓▓▓▓█
                      ▓▓▓▓▓▌!!!!!!!!!!!!!!!!!!!!!!!!▓▓▓▓▓▓▓▓▓▓▓g
                     ▐▓▓▓▓▓@!!!!!!!!!!!!!!!!!!!!!!!!█▓▓▓▓▓▓▓▓▓▓▌
                     ╘▓▓▓▓▓|!!!!!!!!!!!!!!⌠g▄▄▄▄┼!!!█▓▓▓▓▓▓▓▓▓▓▌
                      ╘█▓▓▓█▓▓███▄!!!!▄██▓▓▓▓████▌¡!▀▓▓▓▓▓▓▓▓▓▓─
                      ╓█▓▓▀▐▒▌▀▀██|ƒ┼▄▐▐▄╧╧╩▌≡âg!¡å▀▄▓▓▓▓▓▓▓▓▓▌
                      █▓▓▓█▀   █╓▄┼¡├█!▀≈p╓╓▄╓,g▌!!▀┤▐▓▓▓▓▓▓▓█
                      ▌▀▓▓█åååà┤g╪!!!▐▄|!!!!!!!!!|g╪!!|▀▀▌├⌠█
                       ²▀█ææææ¥▀┼!!!!!¡å╪╪╪╪╪╪╪╪Ñ┼!!!!!g▀▄¡!▀
                        ▌!!!!!▌|!!!!!!!!!!!!!!!!!!!!!!!▐!¡╕!▀
                       ▌!!!!!╘g!!!!!!!!⌡!!!!!!!!!!!!!!!!~┤gÑ
                       ▀!!;ƒg▄█g|;|ƒg▄▀██▌▌▄▄ƒ¡!!!!!!!!!¡▌
                       ▄▌██████████████████████▌▄g!!!!!!!▀
                     g█████████▀▀▀┤▐▀▀▀▀▀▒▀▀▀▀▀██▒▌!!!!!!¡▌
                     ╘╧≡▒▄≡▄▄▄▄▄▄gææ¥╪╪╪╪╪╪Ñåå┤j███!!!!!!!▀
                           ▌!▐███|╪≡gggg4æ!!!!!███Ñ!!!!!!!¡▌
                           ▌!!███¡!!!!!!!!!!!!g███~!!!!!!!!▀
                           ▌!!▀██H!!!!!!!!!!;▄████æ!!!!!!!!▐
                          ¬@!!▐███g!!!!!!|g▄██████╪!!!!!!!!J▌#╖
                          ▄¡!!!███▒███████████████¡!!!!!!!g≡╧ ╘ƒ
                         ▀▐ƒ!!!|▀███████████████▀|!!!!!╖≡╩     ▌
                      ╓▄█─ ²≡¿!!!¡▐▀▀██████▀▀▀à¡!!!!ƒ≡Ñ       '█p
                    ▄█▓▓▓▌   ┴╧≡ƒ!!!!!!!!!!!!!!!⌠â#╩         Æ█▓▓█▄╓
                =0▐▓▓▓▓▓▓▓       ²#g¡!!!!!!|g¥╧╩          ╖#▐█▓▓▓▓▓▓█▄
             Æ╧─  █▓▓▓▓▓▓▓█      ▄▌╥▀ƒ!!g╧╩▄g           =╧ g▓▓▓▓▓▓▓▓▓▓▓▄
          ¿≡`    █▓▓▓▓▓▓▓▓▓▌   ╓▀▀██▀█▌▌█▀▀█▒█▌       g╩ ,█▓▓▓▓▓▓▓█▀▀²``²╩═=,
        ²#      ▐▓▓▓▓▓▓▓▓▓▓▓▄ ╥╧  ╚█▒▒▒▒▒▒█╧   ▀⌐   ╥▀  ▄▓▓▓▓▓▓▓▀─           ╧≡
       g`       ▓▓▓▓▓▓▓▓▓▓▓▓▓▄╛    ²█▒▒▒▒▒▌     ╘╧≈#  ▄▓▓▓▓▓▓▓█                ²g
      ▀    a╓  ▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓w     ▐█▒▒▒█          ▄▓▓▓▓▓▓▓▓▀                   ▀µ
    ╓Ñ       ─╧▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓µ   ,█▒▒▒▒█        ▄▓▓▓▓▓▓▓▓▓█                     ²g
   ╥╩          ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓g  █▒▒▒▒▒▒▌     ▄▓▓▓▓▓▓▓▓▓▓▓─                      ╘g
  ╓╩           ▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▄]▒▒▒▒▒▒▒█   ▄▓▓▓▓▓▓▓▓▓▓▓▓▓                        ╘g
  ▌           ▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▌▄▓▓▓▓▓▓▓▓▓▓▓▓▓▓█                         ²Q
 ▌            ▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█▒▒▒▒██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▌                          ▐⌐
▐             ▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓█                           ▀</pre>
    </main>
    {{ partial "footer" . }}
  </div>
</body>

</html>
